* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    border: solid 1px red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    width: 640px;
    height: 640px;;
    flex-wrap: wrap;
}