* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 580px;
    border-radius: 12px;
    background-color: rgb(212, 0, 0);
}

.center-container {
    display: flex;
    width: 540px;
    min-width: 540px;
    flex-wrap: wrap;
}